/* Message.module.css */

.messageContainer {
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.optionContainer,
.countryContainer,
.clientContainer,
.messageInput {
  margin-top: 20px;
}

select,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.messageButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.messageButton:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .messageContainer {
    padding: 10px;
  }

  .optionContainer,
  .countryContainer,
  .clientContainer,
  .messageInput {
    margin-top: 10px;
  }
}
